/*
wood brown: #A89F68;
army green: #41521F;
*/
*{
	font-family: 'Lato', sans-serif;
}

a{
	color: #A89F68;
}
a:hover{
	color: #A89F68;
	text-decoration: underline;
}

/* Sección Bienvenida */
.contenedor-bienvenida{
	padding: 8em 4em;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    padding-left: 4em;
	padding-right: 4em;
}
.navbar-inverse .navbar-brand {
    color: #FFF;
    font-weight: 700;
}
.navbar-inverse .navbar-nav>li>a {
    color: #FFF;
    font-weight: 700;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #A89F68;
    font-weight: 700;
}

.header{
	background-image: url(../img/portada.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	color: #FFF;
	font-size: 18px;
}

.header h1{
	padding-top: 2em;
	color: #FFF;
	font-weight: 700;
	font-size: 30px;
}

.btn-style{
	color: #FFF;
	background-color: #41521F;
	border-color: #41521F;
	font-weight: 700;
	font-size: 18px;
}

.btn-style:hover{
	color: #A89F68;
	background-color: #41521F;
	border-color: #41521F;
}

/* Sección Dos */
.second-section{
	margin: 4em;
}

.contenedor-texto{
	margin-top: 6em;
}

img{
	width: 100%;
}

.second-section h1, .second-section h3{
	color: #A89F68;
	font-weight: 700;
}

/* Sección Tres */
.third-section{
	background-color: #A89F68;
	color:#FFF;
	padding: 8em 4em;
}

.third-section h3{
	color: #41521F;
	font-weight: 700;
}
.third-section h4{
	font-weight: 700;
}

.img-border{
	border: 5px solid #FFF;
}

.modal-style{
	color: #000;
}

/* Sección Cuatro */
.fourth-section{
	background-image: url(../img/all.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	color: #FFF;
	padding: 5em 0;
	padding-left: 45em;
}

.fourth-section h3{
	font-weight: 700;
}

/* Sección Cinco */
.fifth-section{
	padding: 4em;
}

.fifth-section h3, .fifth-section i{
	color: #A89F68;
	font-weight: 700;
	padding-top: .5em;
	padding-bottom: .5em;
}

i{
    display: inline-block;
    width: 100%;
}

.fa{
    font-size: 4em;
}

.carousel-inner>.item>img.koala-img{
	height: 600px;
}

/* Sección Seis */
.sixth-section{
	background-color: #A89F68;
	padding: 4em;
}

.sixth-section h3{
	color: #41521F;
	font-weight: 700;
	padding-top: .5em;
	padding-bottom: .5em;
}
.sixth-section h4{
	color: #FFF;
	font-size: 5em;
	font-weight: 700;
}
.sixth-section h5{
	font-weight: 900;
}

sup{
	font-size: 0.2em;
    top: -3em;
}
sub{
	font-size: 0.2em;
    bottom: -.25em;	  
}

.list-group-item{
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid #FFF;
}
.list-group-item:last-child{
	border-bottom: none;
}

.sixth-section h4.modal-style{
    color: #000;
    font-size: 18px;
    font-weight: normal;
}

.collapse-style{
	background-color: #41521F;
	color: white;
	border-color:  #41521F;
}

/* Footer */
.footer{
	background-color: #41521F;
	color: #FFF;
	padding: 4em;
}

.footer h4{
	color: #A89F68;
}
.footer .list-group-item{
	padding: 0;
	border: none;
}